<div class="container">
  <mat-card class="alignLeft">
    <h2 class="alignLeft">Character: {{ char.name.firstName }} {{ char.name.nickName }} {{ char.name.sureName }}</h2>
    <button mat-raised-button color="primary" (click)="onToggleAll()">All Collapsed = {{ !areAllOpen }}</button>
    <button mat-raised-button color="primary" (click)="onSaveCharacter()">saveChar</button>
    <br />

    <app-character-info-basics [character]="char" [isPanelExpanded]="areAllOpen"></app-character-info-basics>
    <app-character-info-bodystats [character]="char" [isPanelExpanded]="areAllOpen"></app-character-info-bodystats>
    <app-character-info-attributes
      [selectedCharacter]="char"
      [isPanelExpanded]="areAllOpen"
    ></app-character-info-attributes>
    <app-character-info-skills [selectedCharacter]="char" [isPanelExpanded]="areAllOpen"></app-character-info-skills>
    <app-character-info-items [selectedCharacter]="char" [isPanelExpanded]="areAllOpen"></app-character-info-items>
  </mat-card>
</div>
