.container {
  text-align: center;
  padding: 1rem;
}

.mat-icon {
  vertical-align: middle;
}

.alignLeft {
  text-align: left;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}
