<mat-expansion-panel [expanded]="isPanelExpanded">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Body Stats
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-placeholder *ngFor="let bodystat of character.bodyStats; let last = last; let i = index">
    <mat-form-field>
      <label>
        <input matInput placeholder="{{ bodystat.type }}" [(ngModel)]="bodystat.value.current" />
      </label>
    </mat-form-field>
    <div *ngIf="(i + 1) % 2 == 0"></div>
  </mat-placeholder>

  <br />

  <mat-placeholder *ngFor="let bodystat of character.bodyStats; let last = last; let i = index">
    <mat-form-field>
      <label>
        <input matInput placeholder="{{ bodystat.type }}" [(ngModel)]="bodystat.value.current" />
      </label>
    </mat-form-field>
    <div *ngIf="(i + 1) % 2 == 0"></div>
  </mat-placeholder>
</mat-expansion-panel>
