<mat-expansion-panel [expanded]="isPanelExpanded">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Body Stats
    </mat-panel-title>
  </mat-expansion-panel-header>
  Hitpoints:
  <mat-form-field> <input matInput [(ngModel)]="character.hitpoints.currentValue" /> </mat-form-field>
  Mindpoints:
  <mat-form-field> <input matInput [(ngModel)]="character.mindpoints.currentValue" /> </mat-form-field>
  <br />
  RadiationPoints:
  <mat-form-field> <input matInput [(ngModel)]="character.radiationPoints.currentValue" /> </mat-form-field>
  Encumbarance:
  <mat-form-field> <input matInput [(ngModel)]="character.encumbarance.currentValue" /> </mat-form-field>
  <br />
  Armor: <mat-form-field> <input matInput [(ngModel)]="character.armor" /> </mat-form-field> Reputation:
  <mat-form-field> <input matInput [(ngModel)]="character.reputation" /> </mat-form-field>
</mat-expansion-panel>
