<mat-expansion-panel [expanded]="isPanelExpanded">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Attributes
    </mat-panel-title>
  </mat-expansion-panel-header>
  <app-dicable [dicable]="selectedCharacter.attributes.strength"></app-dicable>
  <app-dicable [dicable]="selectedCharacter.attributes.agility"></app-dicable> <br />
  <app-dicable [dicable]="selectedCharacter.attributes.wits"></app-dicable>
  <app-dicable [dicable]="selectedCharacter.attributes.empathy"></app-dicable> <br />
</mat-expansion-panel>
